services:
  - type: web
    name: ezpark-backend
    env: docker
    plan: free
    region: oregon
    rootDir: parkeasy-backend
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false
