services:
  - type: web
    name: ezpark-backend
    env: node
    plan: free
    region: oregon
    rootDir: parkeasy-backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
