# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# env
.env
.env.*

# vcs
.git
.gitignore

# builds & caches
coverage
.tmp
.cache
dist

# editor
.vscode
.DS_Store

# misc
logs
*.log
