services:
  - type: web
    name: parkeasy-backend
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
