body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: white;
}

.home {
  width: 100%;
}

.home-header {
  background-color: #1f1f1f;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e50914;
}

.nav-buttons .btn {
  margin-left: 15px;
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.nav-buttons .btn:hover {
  background-color: #b20710;
}

.hero {
  background: url("https://images.unsplash.com/photo-1583267743711-f0f62b9d1ecf")
    center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-cta.alt {
  background: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero-cta {
  background-color: #e50914;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.hero-cta:hover {
  background-color: #b20710;
}

.featured-section {
  padding: 40px 20px;
  text-align: center;
}

.featured-section h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #1f1f1f;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 1.2rem;
  min-width: 200px;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #2a2a2a;
}
